<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.schedule.dao.ScheduleMapper">
	<select id="selectAirportList" resultType="map">
		SELECT AIRPORT_ID, IATA_CODE, AIRPORT_NAME FROM AIRPORT WHERE IS_ACTIVE = 'Y' ORDER BY AIRPORT_NAME ASC
	</select>

	<select id="selectFlightStatusList" parameterType="map" resultType="map">
		SELECT 
			F.FLIGHT_NO,
			F.FLIGHT_STATUS,
			F.DEPARTURE_TIME,
			F.ARRIVAL_TIME,
			F.DELAY_MINUTES,
			DA.IATA_CODE AS DEP_IATA,
			DA.AIRPORT_NAME AS DEP_NAME,
			AA.IATA_CODE AS ARR_IATA,
			AA.AIRPORT_NAME AS ARR_NAME,
			DG.GATE_CODE AS DEP_GATE,
			AG.GATE_CODE AS ARR_GATE
		FROM 
			FLIGHT F
		INNER JOIN ROUTE R ON F.ROUTE_ID = R.ROUTE_ID
		INNER JOIN AIRPORT DA ON R.DEPARTURE_AIRPORT_ID = DA.AIRPORT_ID
		INNER JOIN AIRPORT AA ON R.ARRIVAL_AIRPORT_ID = AA.AIRPORT_ID
		LEFT OUTER JOIN GATE DG ON F.DEPARTURE_GATE_ID = DG.GATE_ID
		LEFT OUTER JOIN GATE AG ON F.ARRIVAL_GATE_ID = AG.GATE_ID
		WHERE 
			F.IS_DELETED = 'N'
			
		<if test="startDate != null and startDate != ''">
			<![CDATA[ AND TO_CHAR(F.DEPARTURE_TIME, 'YYYY-MM-DD') >= #{startDate} ]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[ AND TO_CHAR(F.DEPARTURE_TIME, 'YYYY-MM-DD') <= #{endDate} ]]>
		</if>
		
		<choose>
			<when test="searchType == 'ROUTE'">
				<if test="departureId != null and departureId != ''">
					AND R.DEPARTURE_AIRPORT_ID = #{departureId}
				</if>
				<if test="arrivalId != null and arrivalId != ''">
					AND R.ARRIVAL_AIRPORT_ID = #{arrivalId}
				</if>
			</when>
			<when test="searchType == 'FLIGHT_NO'">
				<if test="flightNo != null and flightNo != ''">
					AND UPPER(F.FLIGHT_NO) = UPPER(#{flightNo})
				</if>
			</when>
		</choose>
		ORDER BY F.DEPARTURE_TIME ASC
	</select>

	<select id="selectFlightScheduleList" parameterType="map" resultType="map">
		SELECT 
			F.FLIGHT_NO,
			F.DEPARTURE_TIME,
			F.ARRIVAL_TIME,
			DA.IATA_CODE AS DEP_IATA,
			DA.AIRPORT_NAME AS DEP_NAME,
			AA.IATA_CODE AS ARR_IATA,
			AA.AIRPORT_NAME AS ARR_NAME,
			AC.MODEL_NAME
		FROM 
			FLIGHT F
		INNER JOIN ROUTE R ON F.ROUTE_ID = R.ROUTE_ID
		INNER JOIN AIRPORT DA ON R.DEPARTURE_AIRPORT_ID = DA.AIRPORT_ID
		INNER JOIN AIRPORT AA ON R.ARRIVAL_AIRPORT_ID = AA.AIRPORT_ID
		INNER JOIN AIRCRAFT AC ON F.AIRCRAFT_ID = AC.AIRCRAFT_ID
		WHERE 
			F.IS_DELETED = 'N'
			AND R.DEPARTURE_AIRPORT_ID = #{departureId}
			AND R.ARRIVAL_AIRPORT_ID = #{arrivalId}
			
		<if test="startDate != null and startDate != ''">
			<![CDATA[ AND TO_CHAR(F.DEPARTURE_TIME, 'YYYY-MM-DD') >= #{startDate} ]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[ AND TO_CHAR(F.DEPARTURE_TIME, 'YYYY-MM-DD') <= #{endDate} ]]>
		</if>
		ORDER BY F.DEPARTURE_TIME ASC
	</select>
</mapper>







